body {
 
  font-family: courier;
  background: url(slider-agency-website-slide-01-bg.webp);
}
h1 {
  color: blueviolet;
}
h2
{
	color: blueviolet;
}
p {
  color: black;
  

}
<div>
	<nav>
<a href="omer.html"> Homepage &nbsp;</a>
		
		<a href="https://www.linkedin.com/in/omerfarukfidan1/"> Linkedin &nbsp;</a>
		<a href="form.html"> Register &nbsp;</a>
		<a href="form2.html"> Login</a>
	

	</nav>
	</div>

	<hr>

